@import url("./jetbrainsmono-nerd-font-mono/jetbrainsmono-nerd-font-mono.css");
@import url("./jetbrainsmono-nerd-font/jetbrainsmono-nerd-font.css");
@import url("./jetbrainsmono-nf/jetbrainsmono-nf.css");

.par {
    margin-left:50px;
}
p, h3, h4 {
    margin: 0px;
    text-align: justify;
}
.code {
    font-family: 'JetBrainsMono Nerd Font';
    text-rendering: optimizeLegibility;
    font-variant-ligatures: additional-ligatures;
}
span.smcode{
    text-rendering: optimizeLegibility;
    font-family: 'JetBrainsMono Nerd Font';
    font-size: 10pt;
    font-variant-ligatures: additional-ligatures;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 3px;
}
span.namespace{
    background-color: rgba(7, 106, 219, 0.65);
    color:#fff;
}
span.class{
    background-color: rgba(11, 54, 11, 0.829);
    color:#FFF;
}
span.struct{
    background-color: rgba(115, 194, 115, 0.829);
    color:#000;
}
span.enum{
    background-color: rgba(219, 180, 7, 0.904);
    color:#000;
}
span.delegate{
    background-color: rgba(14, 172, 184, 0.87);
    color:#000;
}
span.method{
    background-color: rgba(12, 105, 98, 0.87);
    color:#fff;
}
span.property{
    background-color: rgba(192, 28, 28, 0.900);
    color:#fff;
}
span.field{
    background-color: rgba(121, 0, 0, 0.87);
    color:#fff;
}
span.interface{
    background-color: rgba(87, 247, 12, 0.87);
    color:#000;
}
span.reserved{
    font-weight: bolder;
    color:rgb(0, 0, 255);
    background-color: #fff;
}
pre.code{
    background-color: rgba(29, 28, 28, 0.521);
    width: 100%;
}
span.comment{
    color:rgb(53, 145, 53);
}
pre .reserved-code{
    color:rgb(0, 0, 255);
}
pre .string-code{
    color:rgb(116, 20, 20);
}
pre .class-code{
    color:rgb(11, 94, 11);
}